.dart_tool/
.packages
.pub/
build/
web/
windows/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

android/app/google-services\.json

ios/Runner/GoogleService-Info\.plist

android/app/key\.jks

android/app/proguard-rules\.pro

android/key\.properties